<p style="color: green"><%= notice %></p>

<div class="container">

  <% content_for :title, "Artifacts" %>

  <h1 class="text-center mt-8 mb-4 text-white">Artifacts</h2>


  <div id="artifacts">
    <% @artifacts.each do |artifact| %>
      <%= render artifact %>
      <p>
        <%= link_to "Show this artifact", artifact, class: "btn btn-warning mt-1" %>
      </p>
    <% end %>
    <div class="center">
      <%= link_to "New Artifact", new_artifact_path, class: "btn btn-success mt-5" %>
    </div>

  </div>
</div>



